name: Build EXE

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install MinGW
        run: choco install mingw -y

      - name: Add MinGW to PATH
        run: echo "C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin" >> $env:GITHUB_PATH

      - name: Build resource (icon)
        run: windres -O coff src/app.rc app.res

      - name: Build EXE
        run: gcc src/*.c app.res -Iinclude -mwindows -o spm.exe

      - name: Check GH auth
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh auth status
        shell: pwsh


      - name: Create GitHub release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release create "v0.1a" spm.exe --title "SPM v0.1a" --notes "Automated release"
        shell: pwsh
